.social {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  left: 20%;
  right: 20%;
  width: 60%;
  overflow: auto;
  position: relative;
}

.social a {
  text-align: center;
  float: left;
  width: 20%;
}
