section {
    display: flex;
    flex-flow: row nowrap;
    width: 500px;
    height: auto;
    margin: 0 auto;
    color: var(--text);
    background-color: black;
    font-family: monospace;
}

.static {
    width: auto;
    padding-right: 20px;
}
.input {
    flex: 1;
}

.pink {
  color: var(--header);
}

.white {
  color: var(--text);
}

.green {
  color: green;
}

.blue {
  color: var(--primary);
}
