:root {
  /* Discord color scheme */
  --primary: #7289DA;
  --header: #FFFFFF;
  --text: #99AAB5;
  --div-background: #2C2F33;
  --background: #23272A;

  /* My own color palletes */
  --error-color: #C81D25; /* fire engine color */
  --link-color: #D6DDC5;
  --link-hover-color: #FFFFFF; /* independence */
  --secondary-text-color: #A8A8A8;
  --discord-fade: linear-gradient(-45deg, var(--primary) 0%, var(--primary) 66%, var(--header)100%);

  /* A nice readible font for content */
  --text-font: Roboto;
}

.text {
  color: var(--text);
}

.twitter-style-border {
  /* Twitter style borders */
  border-width: thin;
  border-style: solid;
  border-color: var(--text);
}

.logo {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  top: 15px;
  left: 5px;
  position: relative;
}

.secondary {
  color: var(--secondary-text-color);
}

/* Make all the links the same color in one fowl swoop */
.link, a {
  color: var(--link-color);
  transition: color 0.1s ease-in-out;
  text-decoration: none;
}

.link:hover, button:hover, a:hover {
  color: var(--link-hover-color);
}

.error-message {
  /* This is for the authentication pages  */
  color: var(--error-color);
}

h1 {
  /* These headers are reserved for the page titles */
  color: var(--header);

  /* Projects are centered, so is the title */
  text-align: left;
  padding-left: 10px;
  border-bottom: solid;
  border-width: thin;
  border-color: var(--text);
}

html {
  /* Darker background for the whole page */
  background: var(--background);
}

body {
  margin: auto;
}

header {
  position: relative;
  width: 100%;
}

.link-text {
  /* This is for the text beside the icons, i.e., 'Home' */
  /* TODO: make these relative sizes */
  font-size: 20px;
}

.container {
  font-family: var(--text-font);

  /* The wrapper for the content of each page */
  width: 60%;
  margin: 0 auto;

  /* Slightly lighter background for content */
  background: var(--div-background);

  /* Light gray for text on pages */
  color: var(--text);

  overflow: auto;
}

.content {
    text-align: left;

    /* Give the content space to breathe */
    padding: 10px;
}

code {
    background: var(--background);
}

.title {
  padding-left: 10px;
  /* For pages without markdown */
  color: var(--header);
}

.header {
  color: var(--header);
}

button {
  background: var(--primary);
  color: var(--link-color);
  border: none;
  border-radius: 20px;
  padding: 10px;
}

.button a {
  background-color: var(--primary);
  border-radius: 5%;
  /* Seperate from the content above */
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

  /* Remove the underline  */
  text-decoration: none;
}

@media (max-width: 70em) {
  .container {
    margin: 0 auto;
    top: 0;
    width: 90%;
  }
}
