html,
body {
  overflow-x: hidden;
  content: "";
  background: rgb(26, 31, 41) url("../assets/map.png") no-repeat fixed top;
  background-blend-mode: luminosity;
  /* also change the blend mode to what suits you, from darken, to other 
    many options as you deem fit*/

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image {
  /* Apply blur to background image */
  backdrop-filter: blur(2px);
}

.timeline {
  text-align: left; /* (see: https://bit.ly/3o9bfZG) */
  text-decoration-color: black;
  z-index: 10; /** Must be greater than background image */
}

.github-corner svg {
  z-index: 1000;
}

.vertical-timeline-element-content {
  color: black;
}

.vertical-timeline-element--work .vertical-timeline-element-content {
  border-top: 3px solid #2196f3;
}

.vertical-timeline-element--education .vertical-timeline-element-content {
  border-top: 3px solid #e91e63;
}

.vertical-timeline-element-date {
  color: black;
  position: relative;
  left: 0;
}

/* CUSTOM LINE COLOR */
/* The line */
.vertical-timeline.vertical-timeline-custom-line::before {
  background: #424242;
}

/* Icon container's border */
.vertical-timeline.vertical-timeline-custom-line
  .vertical-timeline-element--work
  .vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #1976d2, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.vertical-timeline.vertical-timeline-custom-line
  .vertical-timeline-element--education
  .vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #c2185b, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}
