:root {
  --primary: #7289DA;
  --header: #FFFFFF;
  --text: #99AAB5;
  --div-background: #2C2F33;
  --background: #23272A;
  --error-color: #C81D25;
  --link-color: #D6DDC5;
  --link-hover-color: #FFFFFF;
  --secondary-text-color: #A8A8A8;
  --discord-fade: linear-gradient(-45deg, var(--primary) 0%, var(--primary) 66%, var(--header)100%);
  --text-font: Roboto;
}

#social-link {
  position: relative;
  top: 0;
  transition: top ease 0.3s;
}

#social-link:hover {
  top: -10px;
}

#nav-link {
  position: relative;
  left: 0;
  transition: left ease 0.3s;
}

#nav-link:hover {
  left: -10px;
}

.text {
  color: var(--text);
}

.twitter-style-border {
  /* Twitter style borders */
  border-width: thin;
  border-style: solid;
  border-color: var(--text);
}

.secondary {
  color: var(--secondary-text-color);
}

/* Make all the links the same color in one fowl swoop */
.link, a {
  color: var(--link-color);
  transition: color 0.1s ease-in-out;
  text-decoration: none;
}

.link:hover, button:hover, a:hover {
  color: var(--link-hover-color);
}

.error-message {
  /* This is for the authentication pages  */
  color: var(--error-color);
}

h1 {
  /* These headers are reserved for the page titles */
  color: var(--header);
  /* Projects are centered, so is the title */
  text-align: left;
  padding-left: 10px;
  border-bottom: solid;
  border-width: thin;
  border-color: var(--text);
}

html {
  /* Darker background for the whole page */
  background: var(--background);
}

body {
  margin: auto;
}

header {
  position: relative;
  width: 100%;
}

.link-text {
  /* This is for the text beside the icons, i.e., 'Home' */
  /* TODO: make these relative sizes */
  font-size: 20px;
}

.container {
  font-family: var(--text-font);
  /* The wrapper for the content of each page */
  width: 60%;
  margin: 0 auto;
  /* Slightly lighter background for content */
  background: var(--div-background);
  /* Light gray for text on pages */
  color: var(--text);
  overflow: auto;
}

.content {
  text-align: left;
  /* Give the content space to breathe */
  padding: 10px;
}

pre {
  padding: 10px;
  background: var(--background);
  border-style: solid;
  border-width: thin;
}

code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
}

.title {
  padding-left: 10px;
  /* For pages without markdown */
  color: var(--header);
}

.header {
  color: var(--header);
}

button {
  background: var(--primary);
  color: var(--link-color);
  border: none;
  border-radius: 20px;
  padding: 10px;
}

.button a {
  background-color: var(--primary);
  border-radius: 5%;
  /* Seperate from the content above */
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  /* Remove the underline  */
  text-decoration: none;
}

.blog {
  font-family: var(--text-font);
  /* Slightly lighter background for content */
  background: var(--div-background);
  /* Light gray for text on pages */
  color: var(--text);
}

.blog-post {
  /* These blog posts are styled using markdown */
  text-align: left;
  padding: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.description {
  /* The project description  */
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 20px;
}

.blog-title-text {
  padding-left: 30px;
}

.blog-content {
  padding-left: 70px;
}

.logo {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  top: 15px;
  left: 5px;
  position: relative;
}

.copyright {
  position: relative;
  text-align: center;
  color: var(--text);
  padding: 20px;
  position: relative;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading {
  text-align: center;
  width: 100%;
  height: 100%;
}

.loading-logo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.navigation {
  /* Anchor the navigation bar to the left */
  position: fixed;
  text-align: left;
  /* Take up the entire left block of the page */
  width: 20%;
  height: 100%;
  background: var(--discord-fade);
}

.navigation ul {
  /* Remove bullet points for navigation */
  list-style: none;
  width: 100%;
  /* overflow: auto; */
  position: relative;
}

.navigation ul li {
  float: left;
  width: 100%;
  /* TODO: make these relative sizes */
  /* padding: 7px; */
}

.avatar {
  border-radius: 10px;
  border-style: solid;
  border-color: var(--text);
  border-width: medium;
}

.project-container {
  /* Card style width */
  /* width: 50%; */
  /* Center the card */
  border-bottom: solid;
  border-width: thin;
  border-color: var(--text);
  margin: 0 auto;
}

.project {
  /* Center the project cards */
  text-align: center;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.project:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.project-title-text {
  padding-left: 20px;
}

.description {
  /* The project description  */
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 20px;
}

.project-image {
  /* Dont touch the edge */
  width: 50%;
  height: 50%;
  /* Important for transparent images */
  background: white;
  border-style: solid;
  border-width: medium;
  border-color: var(--text);
  /* Avatar like style to logo */
  border-radius: 5%;
}

.project-image:hover {
  box-shadow: 0 4px 8px 0 var(--header);
  transition: box-shadow 0.3s ease-in-out;
}

.github-link {
  font-size: 30px;
}

.logo {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  top: 15px;
  left: 5px;
  position: relative;
}

.social {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  left: 20%;
  right: 20%;
  width: 60%;
  overflow: auto;
  position: relative;
}

.social a {
  text-align: center;
  float: left;
  width: 20%;
}

* {
  box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: var(--background);
  border: 4px solid var(--primary);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.timeline-content {
  padding: 20px 30px;
  background-color: var(--background);
  position: relative;
  border-radius: 6px;
}

.timeline-content img {
  width: 100%;
  border-radius: 10px;
}

.timeline-content img:hover {
  box-shadow: 0 4px 8px 0 var(--header);
  transition: box-shadow 0.3s ease-in-out;
}

@media (max-width: 70em) {
  .container {
    margin: 0 auto;
    top: 0;
    width: 90%;
  }

  .blog-title-text {
    padding-left: 15px;
  }

  .logo {
    height: 40px;
    width: 40px;
  }

  .navigation {
    z-index: 2;
    text-align: center;
    margin: 0 auto;
    height: 10%;
    bottom: 0;
    background: var(--primary);
    width: 100%;
  }

  .navigation ul {
    display: flex;
    justify-content: space-between;
  }

  .navigation ul li {
    float: left;
    width: 10%;
  }

  .link-text {
    display: none;
  }

  .avatar {
    display: none;
  }

  .project-container {
    width: 100%;
  }

  .project-title-text {
    padding-left: 15px;
  }

  .description {
    padding-left: 15px;
  }

  .logo {
    height: 40px;
    width: 40px;
  }

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

}
