:root {
  font-size: 16px;
  font-family: Roboto;
  font: Roboto;
  --highlight: #bc13fe;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  color: var(--text-secondary);
}

h2 {
  color: var(--text-secondary);
}

body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
  min-height: 100vh;
}

a {
  color: currentColor;
  text-decoration: none;
  outline: 0;
}

.github-link {
  background: var(--bg-primary);
  padding: 10px;
  border-radius: 5%;
  transition: 300ms;
  filter: grayscale(100%) opacity(0.7);
}

.github-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: #b6b6b6;
}

.github-link .link-text {
  display: none;
  transition: display 1000ms ease;
}

.github-link:hover .link-text {
  display: inline;
}

.github-link:hover i {
  color: var(--highlight);
}

a {
  padding: 2px;
  transition: 300ms;
  filter: grayscale(100%) opacity(0.7);
}

a:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--highlight);
}

.blog-post {
  width: 60%;
}

.content {
  padding-left: 2.5rem;
  width: 60%;
  min-height: 100vh;
}

.twitter-style-border {
  /* Twitter style borders */
  border-width: thin;
  border-style: solid;
  border-color: var(--text);
}

@media (max-width: 70em) {
  .blog-post {
    width: 90%;
  }

  .content {
    width: 90%;
    padding-bottom: 5rem;
  }
}
